* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: rgb(61, 70, 83);
}

.header {
    text-align: center;
    border: 5px solid rgb(122, 126, 138);
    border-radius: 20px;
    margin: 10px 500px;
    background-color: rgb(122, 126, 138);
}

.section1 {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.section1 > div {
    margin: 30px;
    width: 50vw;
    height: 80vh;
    border: 1px solid rgb(122, 126, 138);
    border-radius: 20px;
    background-color: rgb(122, 126, 138);
    z-index: 1;
    text-align: center;
}
